@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;  
}

section#telefone {
    position: absolute;
    top: 50%; /*centraliza o canto sup esq da caixa com o meio da caixa main*/
    left: 50%;
    transform: translate(-50%, -50%); /*centraliza o meio da caixa com o meio da caixa main*/

    height: 627px; /*valores de altura e largura da imagem verificados no gimp*/
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat; 
}

iframe#tela { /* configura a imagem inserida no home.html para caber certo dentro do iframe. Agora podemos colocar qualquer imagem dentro do iframe */
    position: relative;
    top: 80px;
    left: 23px;
    width: 266px;
    height: 471px;
}